<form [formGroup]="TableForm">
  <div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Employee Details</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">E-ID</th>
            <th class="text-center">Employee Name</th>
            <th class="text-center">User Name</th>
            <th class="text-center">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td >{{user.id}}</td>
            <td >{{user.name}}</td>
            <td >{{user.username}}</td>
            <td >{{user.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</form>

